{% extends 'index.html' %}
{% block content %}
<div class="max-w-4xl mx-auto pb-12">
    <div class="bg-white p-8 md:p-12 rounded-[2.5rem] border border-gray-100 shadow-sm">
        <div class="prose prose-blue max-w-none text-gray-700 font-medium leading-relaxed">

            <h1 class="text-2xl md:text-3xl font-black text-gray-900 mb-2 tracking-tight">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И
                ОБРАБОТКИ ДАННЫХ</h1>
            <p class="text-gray-500 text-sm mb-8">Телеграм-бота @humanprofibot</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">1. Термины и определения</h2>
            <p class="mb-2 pl-4">1.1. Телеграм-бот (Бот) – аккаунт в кроссплатформенной системе мгновенного обмена
                сообщениями Telegram, управляемый программный обеспечением, созданный для автоматической обработки
                информации и ответов на запросы, с именем пользователя @humanprofibot, расположенный по адресу <a
                    href="https://t.me/humanprofibot"
                    class="text-blue-600 hover:underline">https://t.me/humanprofibot</a>.</p>
            <p class="mb-2 pl-4">1.2. Администратор — ИП Кузин Михаил Максимович ИНН 504815286031, собственник бота.</p>
            <p class="mb-2 pl-4">1.3. Пользователь — любое физическое лицо, получающее доступ к Боту через свою учетную
                запись в Telegram и использующее Бот.</p>
            <p class="mb-2 pl-4">1.4. Политика — настоящая Политика конфиденциальности Телеграм-бота, разработана в
                соответствии с федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» (далее — ФЗ «О
                персональных данных»). Политика является общедоступным документом, размещенным в сети «Интернет» по
                адресу: <a href="https://humanprofi.ru/privacy_bot.html"
                    class="text-blue-600 hover:underline">https://humanprofi.ru/privacy_bot.html</a></p>
            <p class="mb-6 pl-4">1.5. Персональные данные — любая информация, относящаяся к определенному физическому
                лицу (Пользователю).</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">2. Общие положения</h2>
            <p class="mb-2 pl-4">2.1. Настоящая Политика регулирует исключительно отношения между Администратором и
                Пользователем. Она не может регулировать отношения между Telegram и его пользователями и не заменяет
                Политику конфиденциальности Telegram.</p>
            <p class="mb-2 pl-4">2.2. Администратор соблюдает все рекомендации по конфиденциальности, установленные со
                стороны Telegram.</p>
            <p class="mb-2 pl-4">2.3. Настоящая Политика действует в отношении всей информации, обрабатываемой в Боте,
                включая персональные данные пользователей.</p>
            <p class="mb-2 pl-4">2.4. Политика регулирует сбор, хранение, распространение, использование и защиту
                информации Пользователей, которые получают доступ к Боту.</p>
            <p class="mb-2 pl-4">2.5. Дальнейший доступ Пользователя к Боту и его использование означает согласие
                Пользователя с настоящей Политикой, Условиями использования бота Telegram и Условиями миниприложения
                Telegram.</p>
            <p class="mb-6 pl-4">2.6. Если Пользователь не принимает все вышеупомянутые условия, то он должен немедленно
                прекратить использование Бота.</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">3. Отказ от ответственности</h2>
            <p class="mb-2 pl-4">3.1. Бот — это независимое стороннее приложение, которое не поддерживается Telegram и
                не связано с Telegram.</p>
            <p class="mb-2 pl-4">3.2. Пользователь понимает и соглашается с тем, что, не ограничиваясь разделом 8, в
                настоящую Политику могут быть внесены изменения в любое время, и Пользователь несет ответственность за
                ознакомление со всеми изменениями и согласие со всеми ними.</p>
            <p class="mb-2 pl-4">3.3. Пользователь подтверждает, что прочитал, понял и согласился с Условиями
                использования Бота и Условиями использования мини-приложения Telegram, а также с настоящей Политикой.
            </p>
            <p class="mb-6 pl-4">3.4. Администратор исходит и действует из того, что вся предоставляемая Пользователем
                информация предоставляется добросовестно, добровольно и не обязан проверять заявления Пользователя на
                наличие ошибок или неточностей. Пользователь несет ответственность за то, чтобы вся предоставляемая им
                информация была точной и актуальной.</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">4. Сбор и обработка данных Пользователя.
            </h2>
            <p class="mb-2 pl-4">4.1. Администратор собирает и обрабатывает следующие персональные данные Пользователя:
            </p>
            <ul class="list-disc pl-10 mb-4 space-y-1">
                <li>имя пользователя (выбранное для общения);</li>
                <li>user id telegram</li>
                <li>никнейм телеграм (при наличии);</li>
                <li>адрес электронной почты (e-mail);</li>
                <li>IP-адрес;</li>
                <li>информацию, указанную в профиле пользователя телеграм</li>
                <li>информацию, содержащуюся в файлах cookies;</li>
                <li>другую информацию, предоставленную Пользователем в Боте.</li>
            </ul>
            <p class="mb-2 pl-4">4.2. Без ограничения пункта 4.1. Администратор имеет возможность получать от
                Пользователя дополнительные данные, если Пользователь отправляет Боту сообщения, загружает файлы или
                решает поделиться личной информацией.</p>
            <p class="mb-6 pl-4">4.3. Бот может собирать анонимные данные, которые никак не связаны с Пользователем,
                такие как анонимизированная диагностика или статистика использования.</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">5. Обработка персональных данных</h2>
            <p class="mb-2 pl-4">5.1. Бот запрашивает, собирает, обрабатывает и хранит только те данные, которые
                необходимы для надлежащего функционирования назначенных им функций. Бот обрабатывает персональные данные
                на законном основании в случае, когда такая обработка необходима для:</p>
            <ul class="list-disc pl-10 mb-4 space-y-1">
                <li>идентификации Пользователя;</li>
                <li>обработки запросов Пользователя;</li>
                <li>предоставления Администратором своих услуг Пользователю;</li>
                <li>отправки электронных чеков об оплате, информации об изменениях в тарифах, спец предложений</li>
                <li>отправки рекламных и информационных материалов;</li>
                <li>улучшения качества предоставления услуг;</li>
                <li>улучшения функциональности Бота;</li>
                <li>внутренней отчетности.</li>
            </ul>
            <p class="mb-2 pl-4">5.2. Без ограничения раздела 6.2 Политики личная информация Пользователя не будет
                передаваться или делаться доступной третьим лицам, за исключением случаев, предусмотренных Политикой и
                согласованных Пользователем.</p>
            <p class="mb-2 pl-4">5.3. Администратор собирает или иным образом агрегирует данные пользователя только в
                соответствии с законодательством Российской Федерации, условиями сторонних приложений, и ни для каких
                иных целей, кроме тех, которые четко указаны в Политике и необходимы для предоставления услуг
                Пользователю и улучшения функциональности Бота.</p>
            <p class="mb-6 pl-4">5.4 Удаление, уточнение данных Пользователя и иной контакт с Администратором
                производится по запросу Пользователя по адресу электронной почты Администратора, указанной в реквизитах
                ниже, с темой письма «Вопрос по телеграм боту».</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">6. Защита данных</h2>
            <p class="mb-2 pl-4">6.1. Администратор применяет надежные меры безопасности для защиты целостности и
                конфиденциальности всех обрабатываемых им данных. Информация Пользователя обрабатывается, передается и
                хранится в соответствии с законодательством Российской Федерации, включая все необходимые меры
                предосторожности для предотвращения несанкционированного доступа, модификации, удаления или
                распространения.</p>
            <p class="mb-6 pl-4">6.2. Администратор никогда не будет передавать данные Пользователя третьим лицам за
                исключением случаев, когда Пользователь явно разрешил это или это прямо предусмотрено законодательством
                Российской Федерации.</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">7. Права и обязанности</h2>

            <h3 class="text-base font-bold text-gray-800 mb-3 pl-4">7.1. Администратор может:</h3>
            <p class="mb-2 pl-8">а) запросить подтверждение личности Пользователя, отправляющего запросы данных, если он
                подозревает несанкционированный доступ к личной информации или неправильное использование личной
                информации;</p>
            <p class="mb-4 pl-8">б) ввести разумные ограничения на количество запросов данных, которые Пользователь
                может отправить в течение определенного периода времени, чтобы предотвратить злоупотребление системой
                запросов. В любом случае, эти ограничения не могут ущемлять права Пользователя в соответствии с
                применимым законодательством.</p>

            <h3 class="text-base font-bold text-gray-800 mb-3 pl-4">7.2. Администратор обязан:</h3>
            <p class="mb-2 pl-8">а) соблюдать положения, изложенные в Политике, или те, которые изложены в любой
                дополнительной или заменяющей Политике, которую он решит ввести, при условии, что ни то, ни другое не
                может заменить Условия предоставления услуг Telegram и, соответственно, Условия разработчика ботов
                Telegram;</p>
            <p class="mb-2 pl-8">б) предоставить Пользователю легкодоступный способ ознакомиться с Политикой и
                воспользоваться всеми правами, на которые Политика дает им право в соответствии с законодательством;</p>
            <p class="mb-4 pl-8">в) оперативно обрабатывать законные запросы пользователей и отвечать на них в сроки,
                установленные законодательством, и, в любом случае, не позднее 30 дней после с даты подачи запроса.</p>

            <h3 class="text-base font-bold text-gray-800 mb-3 pl-4">7.3. Пользователь имеет право:</h3>
            <p class="mb-2 pl-8">а) отправить запрос Администратору на получение информации, касающейся обработки его
                персональных данных, собираемых и хранимых Ботом;</p>
            <p class="mb-2 pl-8">б) отправить запрос Администратору на своевременное удаление всех своих персональных
                данных, собираемых и хранимых Ботом;</p>
            <p class="mb-2 pl-8">в) изменять, уточнять свои персональные данные;</p>
            <p class="mb-2 pl-8">г) ограничивать или возражать против обработки своих персональных данных или
                использовать возможность отозвать любое ранее данное согласие в любое время и по любой причине, включая
                полный выход из Политики и прекращение использования Бота;</p>
            <p class="mb-4 pl-8">д) требовать блокирования или уничтожения своих персональных данных в случае, если
                персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются
                необходимыми для заявленной цели обработки.</p>

            <h3 class="text-base font-bold text-gray-800 mb-3 pl-4">7.4. Пользователь обязан:</h3>
            <p class="mb-2 pl-8">а) предоставлять исключительно свои достоверные и актуальные данные. Пользователь
                гарантирует, что предоставляемые им данные не относятся к данным третьих лиц;</p>
            <p class="mb-6 pl-8">б) соблюдать условия, изложенные в Политике, и любые дополнительные политики, принятые
                Администратором.</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">8. Изменения в настоящей Политике
                конфиденциальности</h2>
            <p class="mb-6">Политика может быть обновлена Администратором в одностороннем порядке. Любые изменения в
                этой Политике вступят в силу, с даты размещения ее в Боте</p>

            <h2 class="text-lg md:text-xl font-bold text-gray-800 mt-8 mb-4">Контактные данные Администратора:</h2>
            <div class="bg-gray-50 rounded-2xl p-6 border border-gray-100">
                <p class="mb-1"><strong>Никнейм Telegram:</strong> <a href="https://t.me/fpsirius"
                        class="text-blue-600 hover:underline">@fpsirius</a></p>
                <p><strong>Адрес электронной почты:</strong> <a href="mailto:humanprofi@yandex.ru"
                        class="text-blue-600 hover:underline">humanprofi@yandex.ru</a></p>
            </div>

        </div>
    </div>
</div>
{% endblock %}